.banner {
  background-image: url('https://us.123rf.com/450wm/shushanto/shushanto2209/shushanto220900703/191842443-destruction-of-planets-concept-art-illustration-background-image.jpg?ver=6');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
  text-align: center;
  margin: 0;
  width: 100%;
}
